@font-face {
    font-family: "MPLUS1p";
    src: url("./../fonts/Mplus1p/Mplus1pthin.woff") format("woff"),
        url("./../fonts/Mplus1p/Mplus1pthin.woff2") format("woff2"),
        url("./../fonts/Mplus1p/Mplus1pthin.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "MPLUS1p";
    src: url("./../fonts/Mplus1p/Mplus1plight.woff") format("woff"),
        url("./../fonts/Mplus1p/Mplus1plight.woff2") format("woff2"),
        url("./../fonts/Mplus1p/Mplus1plight.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "MPLUS1p";
    src: url("./../fonts/Mplus1p/Mplus1p.woff") format("woff"), url("./../fonts/Mplus1p/Mplus1p.woff2") format("woff2"),
        url("./../fonts/Mplus1p/Mplus1p.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "MPLUS1p";
    src: url("./../fonts/Mplus1p/Mplus1pmedium.woff") format("woff"),
        url("./../fonts/Mplus1p/Mplus1pmedium.woff2") format("woff2"),
        url("./../fonts/Mplus1p/Mplus1pmedium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "MPLUS1p";
    src: url("./../fonts/Mplus1p/Mplus1pbold.woff") format("woff"),
        url("./../fonts/Mplus1p/Mplus1pbold.woff2") format("woff2"),
        url("./../fonts/Mplus1p/Mplus1pbold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "MPLUS1p";
    src: url("./../fonts/Mplus1p/Mplus1pextrabold.woff") format("woff"),
        url("./../fonts/Mplus1p/Mplus1pextrabold.woff2") format("woff2"),
        url("./../fonts/Mplus1p/Mplus1pextrabold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "MPLUS1p";
    src: url("./../fonts/Mplus1p/Mplus1pblack.woff") format("woff"),
        url("./../fonts/Mplus1p/Mplus1pblack.woff2") format("woff2"),
        url("./../fonts/Mplus1p/Mplus1pblack.ttf") format("truetype");
    font-weight: 900;
}
